
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.color_highlight{
    color: #ff4a57;
    -webkit-transition: 1s ease-in-out;
        transition: 1s;
}

.color_highlight.clicked{
    color: blue;
}

body{
   /* background-color: black; */
    --dot-bg: black;
    --dot-color: rgb(126, 126, 126);
    --dot-size: 1px;
    --dot-space: 25px;
    background-color: black;
    -webkit-transition: 1s ease-in-out;
    transition: 1s;
}

body.clicked{
    --dot-bg: white;
        --dot-color: rgb(126, 126, 126);
        --dot-size: 1px;
        --dot-space: 25px;
        background-color: white;
}

#profile_image_container{
    height: 300px;
    width: 230px;
    position: absolute;
    right: 25%;
    top: 25%;
    z-index: -99999;
    box-shadow: inset 0px 0px 20px 20px black;
    background-image: url("../assets/profile_image.jpg") ;
    background-size: contain;
    -webkit-transition: 1s ease-in-out;
    transition: 1s;
}

#profile_image_container.clicked{
    box-shadow: inset 0px 0px 20px 20px white;
}

#main-container{
    /* position: absolute;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* height: 100vh;
    width: 100vw;*/
    color: white;
    -webkit-transition: 1s ease-in-out;
    transition: 1s;
}

#main-container.clicked{
    color: black;
}
#hi_msg{
    position: absolute;
    top: 30%;
    left: 10%;
    /* border: 1px solid red; */
}

#last_name{
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-left: 10px;
}

#first_middle_name{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
    margin-top: 5px;
}

#designation{
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 12.6px;
    margin-top: 10px;
}

#social_links{
    position: absolute;
    left: 10%;
    bottom: 20%;
}

#social_links_title{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 10px;
}

#social_links img{
    width: 30px;
    margin-right: 10px;
}

#social_info{
    font-size: 10px;
    font-weight: 200;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: silver;
}